@model List<HospitalManagementSystem.ViewModels.PatientTreatmentCountViewModel>

<h3>All Treatments Count for All Patients</h3>

<table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Treatment Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PatientId</td>
                <td>@item.FirstName</td>
                <td>@item.TreatmentType</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
